*{
	margin: 0;
	padding: 0;
}

.navbar{
	background: #1a5485;
	height: 150px;

}

.navbar-brand{
	overflow: hidden;
}

a img{
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

a img:hover{
	-webkit-transform: scale(1.1);
   	transform: scale(1.1);
}

.nav-menu a{
	color: #fff;
}

.nav-menu a:hover{
	background: #fff;
}

.navbar-toggler{
    background-color: #1a5485;
}

#fundo-dropdown{
	background:#1a5485;
}
footer{
	background: #03193e;
	color: #fff;
}

.nav a{
	color:#fff;
}

#instagram {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: #03193e;
    color: white;
    margin: 0 3px;
	border: 2px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-size: 40px;
    text-decoration: none
}
#instagram:hover{
    background:  #1a5485;
}